@{
    ViewBag.Title = "Autocomp";
}
<h2>Autocomp</h2>

<input type="text" id="email" />

@section styles {
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script>

        $(function () {

            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {

                return split(term).pop();

            }

            $("#email").bind("keydown", function (event) {

                if (event.keyCode === $.ui.keyCode.TAB && $(this).data("autocomplete").menu.active) {

                    event.preventDefault();

                }

            })

            $("#email").autocomplete({

                source: function (request, response) {

                    //define a function to call your Action (assuming UserController)

                    $.ajax({

                        url: '/EmailAutoComplete/GetEmailIds', type: "GET", dataType: "json",

                        //query will be the param used by your action method

                        data: { query: request.term },

                        term: extractLast(request.term),

                        success: function (data) {

                            response($.map(data, function (item) {

                                return { label: item, value: item };

                            }))

                        }

                    })

                },

                search: function () {

                    // custom minLength

                    var term = extractLast(this.value);

                    if (term.length < 1) {

                        return false;

                    }

                },

                focus: function () {

                    // prevent value inserted on focus

                    return false;

                },

                select: function (event, ui) {

                    this.value = ui.item.value;

                    return false;

                    //if u want to select items in comma separate then

                    //                var terms = split(this.value);

                    //                // remove the current input

                    //                terms.pop();

                    //                // add the selected item

                    //                terms.push(ui.item.value);

                    //                // add placeholder to get the comma-and-space at the end

                    //                terms.push("");

                    //                this.value = terms.join(", ");

                    //                return false;

                }

            });

        });



    </script>
}