@model Syns.Ticket.ClientMvc.Models.TicketAndamentoModel

<div id="TicketAndamentoDiv">
    <div class="CadAndamento">
        @Html.Partial("_TicketAndamentoCad", Model.TicketAndamentoEntity)
    </div>

    <div>
       
    </div>
</div>

